<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endulzate - Catalogo</title>
    <link rel="stylesheet" href="../static/styles/endulzate.css" />
</head>

<body>
    <header>
        <div class="container-hero">
            <p style="color:#bbe1f0;">E</p>
            <p style="color:#f7bc81;">N</p>
            <p style="color:#f3a5bf;">D</p>
            <p style="color:#fdf39f">Ú</p>
            <p style="color:#91c2a2">L</p>
            <p style="color:#b29fc5">Z</p>
            <p style="color:#e5b240">A</p>
            <p style="color:#cb7da2">T</p>
            <p style="color:#50a8a5">E</p>
        </div>

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>
                <ul class="menu">
                    <li><a href="index.html">Inicio</a></li>
                    <!-- Submenú de Productos -->
                    <li class="has-submenu">
                        <a>Productos</a>
                        <ul class="submenu">
                            <li><a href="Desayunos.html">Deliciosos Desayunos</a></li>
                            <li><a href="#" id="inicio">Endúlzate</a></li>
                            <li><a href="Adiciones.html">Dulces Adiciones</a></li>
                        </ul>
                    </li>
                    <li><a href="Estadisticas.html">Estadísticas</a></li>
                    <li><a href="index.html#servicios">Servicios</a></li>
                    <li><a href="index.html#Weare">Sobre nosotros</a></li>
                    <li><a href="Contacto.html">Contactános</a></li>
                </ul>

                <div class="social-icons">
                    <a href="https://www.instagram.com/endulzatemedellin?igsh=djNmdTV0dWI5NGQ0" target="_blank"><img src="/static/img/instagram.png" alt="Instagram" class="social-footer"></a>
                    <a href="https://www.tiktok.com/@endulzatemedellinn?_t=8qMCCEjeyY9&_r=1" target="_blank"><img src="/static/img/tiktok.png" alt="TikTok" class="social-footer"></a>
                    <a href="https://wa.me/573008651888" target="_blank"><img src="/static/img/whatsapp.png" alt="WhatsApp" class="social-footer"></a>
                </div>
            </nav>
        </div>
    </header>

   <div><h1 class="title-products">Endulza tu vida</h1></div> 

    <div class="container-products">
        <!-- Producto 1 -->
        <div class="card-product">
            <div class="container-img">
                <img
                    src="/static/img/Minigomas.jpg"
                    alt="Minigomas"
                />
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Mini Gomas</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$22.000</p>
            </div>
        </div>
        <!-- Producto 2 -->
        <div class="card-product">
            <div class="container-img">
                <img src="/static/img/VGomas.jpg" alt="VGomas" />
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>V Gomas</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$34.000</p>
            </div>
        </div>
         <!-- Producto 3 -->
        <div class="card-product">
            <div class="container-img">
                <img
                    src="/static/img/Kitemerg.jpg"
                    alt="Kitemerg"
                />
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h3>Kit de emergencia</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$62.000</p>
            </div>
        </div>
         <!-- Producto 4 -->
        <div class="card-product">
            <div class="container-img">
                <img src="/static/img/Chococandy.jpg" alt="Chococandy" />	
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Chococandy</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$44.000</p>
            </div>
        </div>
        <!-- Producto 5 -->
        <div class="card-product">
            <div class="container-img">
                <img
                    src=""
                    alt="Chocobox"
                />
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h3>Chocobox</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$48.000</p>
            </div>
        </div>
        <!-- Producto 6 -->
        <div class="card-product">
            <div class="container-img">
                <img src="/static/img/bizcopizza.jpg" alt="bizcopizza" />	
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Bizcopizza</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$42.000</p>
            </div>
        </div>
        <!-- Producto 7 -->
        <div class="card-product">
            <div class="container-img">
                <img
                    src=""
                    alt="Cupcakes"
                />
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h3>Cupcakes</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$38.000</p>
            </div>
        </div>
        <!-- Producto 8 -->
        <div class="card-product">
            <div class="container-img">
                <img src="" alt="VFresas" />	
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>V Fresas</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$36.000</p>
            </div>
        </div>
        <!-- Producto 9 -->
        <div class="card-product">
            <div class="container-img">
                <img
                    src=""
                    alt="BandejaFresas"
                />
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h3>Bandeja Fresas</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$44.000</p>
            </div>
        </div>
        <!-- Producto 10 -->
        <div class="card-product">
            <div class="container-img">
                <img src="" alt="BandejaFrutas" />	
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Bandeja Frutas</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$42.000</p>
            </div>
        </div>
        <!-- Producto 11 -->
        <div class="card-product">
            <div class="container-img">
                <img src="" alt="Mecatera" />	
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Mecatera</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$38.000</p>
            </div>
        </div>
        <!-- Producto 12 -->
        <div class="card-product">
            <div class="container-img">
                <img src="" alt="CervBox" />	
            </div>
            <div class="content-card-product">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <h3>Cerv Box</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">$76.000</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container container-footer">
            <div class="menu-footer">
                <div class="contact-info">
                    <p class="title-footer">Información de Contacto</p>
                    <ul>
                        <li><strong>Ubicación:</strong> Medellin - Antioquia - Colombia</li>
                        <li><strong>Teléfono:</strong> +57 300 8651888</li>
                        <li><strong>Email:</strong> endulzatemedellin@gmail.com</li>
                        <li><strong>Horario:</strong> <br> Lunes a Sábado de 7:00am a 04:00pm
                                    <br>Festividades especiales de 8:00am a 02:00pm</li>
                    </ul>
                    <div class="social-icons">
                        <a href="https://www.tiktok.com/@endulzatemedellinn?_t=8qMCCEjeyY9&_r=1" target="_blank">
                            <span class="tiktok">
                                <i class="fa-brands fa-tiktok"></i>
                            </span>
                        </a>
                        <a href="https://www.instagram.com/endulzatemedellin?igsh=djNmdTV0dWI5NGQ0" target="_blank">
                            <span class="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </span>
                        </a>
                        <a href="https://wa.me/573008651888" target="_blank">
                            <span class="whatsapp">
                                <i class="fa-brands fa-whatsapp"></i>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="information">
                    <p class="title-footer">Información</p>
                    <ul>
                        <li><a href="Desayunos.html">Deliciosos Desayunos</a></li>
                        <li><a href="Endulzate.html">Endulza tu vida</a></li>
                        <li><a href="Adiciones.html">Dulces Adiciones</a></li>
                        <li><a href="Estadisticas.html">Estadísticas</a></li>
                        <li><a href="Contacto.html" target="_blank">Contactános</a></li>
                    </ul>
                </div>


                <div class="newsletter">
                    <p class="title-footer">Boletín Endúlzate</p>

                    <div class="content">
                        <p>
                            Suscríbete a nuestros boletines ahora y mantente al
                            día con nuevos productos y ofertas exclusivas.
                        </p>
                        <input type="email" placeholder="Ingresa el correo aquí...">
                        <a href="Contacto.html" target="_blank"><button>Suscribete</button></a>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <p>
                     Proyecto Final -  Todos los derechos Copyright - &copy; 2024 
                    - Alejandro Ardila - Elder Salas - Esteban Reina
                </p>

                <img src="/static/img/payment.png" alt="Pagos">
            </div>
        </div>
    </footer>



<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
</body>
</html>