<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Inicio - Endulzate</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
	</head>
	<body>
		<header>
			<div class="container-hero">
				<p style="color:#bbe1f0;">E</p>
				<p style="color:#f7bc81;">N</p>
				<p style="color:#f3a5bf;">D</p>
				<p style="color:#fdf39f">Ú</p>
				<p style="color:#91c2a2">L</p>
				<p style="color:#b29fc5">Z</p>
				<p style="color:#e5b240">A</p>
				<p style="color:#cb7da2">T</p>
				<p style="color:#50a8a5">E</p>
			</div>

			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="#" id="inicio">Inicio</a></li>
						<!-- Submenú de Productos -->
						<li class="has-submenu">
							<a>Productos</a>
							<ul class="submenu">
								<li><a href="/templates/Desayunos.html">Deliciosos Desayunos</a></li>
								<li><a href="/templates/Endulzate.html">Endúlzate</a></li>
								<li><a href="/templates/Adiciones.html">Dulces Adiciones</a></li>
							</ul>
						</li>
						<li><a href="/templates/Estadisticas.html">Estadísticas</a></li>
						<li><a href="#servicios">Servicios</a></li>
						<li><a href="#Weare">Sobre nosotros</a></li>
						<li><a href="/templates/Contacto.html">Contacto</a></li>
					</ul>

					<div class="social-icons">
						<a href="https://www.instagram.com/endulzatemedellin?igsh=djNmdTV0dWI5NGQ0" target="_blank"><img src="/static/img/instagram.png" alt="Instagram" class="social-footer"></a>
						<a href="https://www.tiktok.com/@endulzatemedellinn?_t=8qMCCEjeyY9&_r=1" target="_blank"><img src="/static/img/tiktok.png" alt="TikTok" class="social-footer"></a>
						<a href="https://wa.me/573008651888" target="_blank"><img src="/static/img/whatsapp.png" alt="WhatsApp" class="social-footer"></a>
					</div>
				</nav>
			</div>
		</header>

		<section class="banner">
			<div class="content-banner">
				<p>¿Por qué Endúlzate?</p>
				<h2>Frescos <br /> y Deliciosos todos los días</h2> 
				<a href="https://wa.me/573008651888" target="_blank">Endúlzate ahora</a>
			</div>
		</section>

		<main class="main-content">
			<section class="container container-features" id="servicios">
				<div class="card-feature">
					<i class="fa-solid fa-motorcycle"></i>
					<div class="feature-content">
						<span>Domicilios</span>
						<p>Precio sujeto a ciudad (preguntar)</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-mug-saucer"></i>
					<div class="feature-content">
						<span>Desayunos sorpresa</span>
						<p>Diversidad para que te antojes</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-gift"></i>
					<div class="feature-content">
						<span>Regalos personalizados</span>
						<p>Portaretratos con fotos, llaveros, <br> tazas, peluches, y más...</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-building"></i>
					<div class="feature-content">
						<span>Paquetes empresariales</span>
						<p>Ármalos a tu gusto y presupuesto</p>
					</div>
				</div>
			</section>
			<section class="container top-products">
				<!-- <h1 class="heading-1">Mejores Productos</h1> -->

				<!-- <div class="container-options">
					<span class="active">Destacados</span>
					<span>Más recientes</span>
					<span>Mejores Vendidos</span>
				</div> -->

			<section class="container top-categories">
				<h1 class="heading-1">Nuestras Categorías</h1>
				<div class="container-categories">
					<div class="card-category category-moca">
						<p>¡Deliciosos desayunos!</p>
						<span>Empieza el día con una sonrisa y un desayuno lleno de sorpresas.
							Nuestros desayunos no solo son deliciosos, están diseñados para conquistar
							los sentidos y llenar de alegría cualquier ocasión. 
							Cada detalle, desde los ingredientes frescos hasta la presentación cuidada,
							está pensado para sorprender. ¡Sorprende a tus seres queridos con un
							desayuno que recordarán siempre!
						</span>
					</div>
					<div class="card-category category-expreso">
						<p>¡Endúlza tu vida!</p>
						<span>Sorprende con un dulce regalo lleno de encanto.
						Nuestras cajitas de dulces vienen decoradas con 
						esmero y acompañadas de tarjetas personalizadas,
						ideales para cualquier ocasión.
						Ya sea para endulzar un momento especial o
						simplemente para decir "te quiero", estas cajas
						harán que cada bocado sea inolvidable.</span>
					</div>
					<div class="card-category category-capuchino">
						<p>¡Adiciones que Marcan la Diferencia!</p>
						<span>¡Haz que tu regalo sea aún más especial!
							Compleméntalo con nuestros portarretratos personalizados, llaveros únicos,
							tazas con estilo, peluches adorables, globos coloridos y mucho más.
							Cada adición está pensada para darle ese toque extra de amor y 
							emoción que hará de cualquier detalle, un recuerdo inolvidable.</span>
					</div>
				</div>
			</section>

				<div class="container-products">
					<!-- Producto 1 -->
					<div class="card-product">
						<div class="container-img">
							<img src="/static/img/sanduche.jpg" alt="sanduche" />
							<span class="discount">-13%</span>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Sandwich</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$44.000 <span>$49.720</span></p>
						</div>
					</div>
					<!-- Producto 2 -->
					<div class="card-product">
						<div class="container-img">
							<img
								src="/static/img/variado.jpg"
								alt="Variado"
							/>
							<span class="discount">-22%</span>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Variado</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$66.000 <span>$80.520</span></p>
						</div>
					</div>
					<!--imagen de prueba pendiente quitar o cambiar  -->
					<div class="card-product">
						<div class="container-img">
							<img
								src="/static/img/virtuosa.jpg" 
								alt="Virtuosa"
							/>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
							</div>
							<h3>Virtuosa</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$88.000</p>
												
						</div>
						<p class="desc">Sandwich cubano (jamón, queso, lechuga, tomate y salsa) Ensalada tropical
							Mini brownie Frutos secos y galletas Cerveza (sujeta a disponibilidad) Jugo en botella Ferrero x3 Caja
							decorada Mensaje y/o foto.</p>
					</div>
					<!--  -->
					<div class="card-product">
						<div class="container-img">
							<img src="/static/img/bizcopizza.jpg" alt="bizcopizza" />	
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Bizcopizza</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$42.000</p>
						</div>
					</div>
				</div>
			</section>

			<section class="gallery">
				<img
					src="/static/img/gallery1.jpg"
					alt="Gallery Img1"
					class="gallery-img-1"
				/><img
					src="/static/img/gallery2.jpg"
					alt="Gallery Img2"
					class="gallery-img-2"
				/><img
					src="/static/img/gallery3.jpg"
					alt="Gallery Img3"
					class="gallery-img-3"
				/><img
					src="/static/img/gallery4.jpg"
					alt="Gallery Img4"
					class="gallery-img-4"
				/><img
					src="/static/img/gallery5.jpg"
					alt="Gallery Img5"
					class="gallery-img-5"
				/>
			</section>

			<section class="container-blogs-all" id="Weare">
				<h1 class="heading-1">Sobre Nosotros</h1>

				<div class="container-blogs">
					<div class="card-blog">
						<div class="container-img">
							<img src="/static/img/blog-1.jpg" alt="Imagen Blog 1" />
						</div>
						<div class="content-blog">
							<h3>Misión</h3>
							<p>
								Hacer que los momentos especiales de la vida de tus seres queridos 
								sean aún más <strong>memorables y emocionantes</strong> siempre buscando superar las 
								expectativas de nuestros clientes.

							</p>
						</div>
					</div>
					<div class="card-blog">
						<div class="container-img">
							<img src="/static/img/blog-2.jpg" alt="Imagen Blog 2" />
						</div>
						<div class="content-blog">
							<h3>Visión</h3>
							<p>
								Expandir nuestra presencia en el mercado nacional, 
								incrementar la <strong>satisfacción</strong> del cliente a través de la 
								innovación y la mejora continua, establecernos como la 
								<strong>marca líder</strong> en regalos y desayunos sorpresa.
							</p>
							
						</div>
					</div>
					<div class="card-blog">
						<div class="container-img">
							<img src="/static/img/blog-3.jpg" alt="Imagen Blog 3" />
						</div>
						<div class="content-blog">
							<h3>Valores</h3>
							<p>
								<strong>Calidad:</strong> Ya que manejamos productos frescos y de alta calidad.
								<br><strong>Originalidad:</strong> Contamos con ideas únicas y completamente personalizadas.
								<br>Damos atención a cada detalle y la excelente atención que nos permite agilizar la entrega de tus detalles.
							</p>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li><strong>Ubicación:</strong> Medellin - Antioquia - Colombia</li>
							<li><strong>Teléfono:</strong> +57 300 8651888</li>
							<li><strong>Email:</strong> endulzatemedellin@gmail.com</li>
							<li><strong>Horario:</strong> <br> Lunes a Sábado de 7:00am a 04:00pm
										<br>Festividades especiales de 8:00am a 02:00pm</li>
						</ul>
						<div class="social-icons">
							<a href="https://www.tiktok.com/@endulzatemedellinn?_t=8qMCCEjeyY9&_r=1" target="_blank">
								<span class="tiktok">
									<i class="fa-brands fa-tiktok"></i>
								</span>
							</a>
							<a href="https://www.instagram.com/endulzatemedellin?igsh=djNmdTV0dWI5NGQ0" target="_blank">
								<span class="instagram">
									<i class="fa-brands fa-instagram"></i>
								</span>
							</a>
							<a href="https://wa.me/573008651888" target="_blank">
								<span class="whatsapp">
									<i class="fa-brands fa-whatsapp"></i>
								</span>
							</a>
						</div>
					</div>

					<div class="information">
						<p class="title-footer">Información</p>
						<ul>
							<li><a href="Desayunos.html">Deliciosos Desayunos</a></li>
							<li><a href="Endulzate.html">Endulza tu vida</a></li>
							<li><a href="Adiciones.html">Dulces Adiciones</a></li>
							<li><a href="Estadisticas.html">Estadísticas</a></li>
							<li><a href="Contacto.html" target="_blank">Contactános</a></li>
						</ul>
					</div>


					<div class="newsletter">
						<p class="title-footer">Boletín Endúlzate</p>

						<div class="content">
							<p>
								Suscríbete a nuestros boletines ahora y mantente al
								día con nuevos productos y ofertas exclusivas.
							</p>
							<input type="email" placeholder="Ingresa el correo aquí...">
							<a href="Contacto.html" target="_blank"><button>Suscribete</button></a>
						</div>
					</div>
				</div>

				<div class="copyright">
					<p>
						 Proyecto Final -  Todos los derechos Copyright - &copy; 2024 
						- Alejandro Ardila - Elder Salas - Esteban Reina
					</p>

					<img src="/static/img/payment.png" alt="Pagos">
				</div>
			</div>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
