@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');


:root {
	--primary-color: #cb7da2;
	--background-color: #ecddc5;
	--dark-color: #151515;

}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
}

.container-hero {
	background-color: #ecddc5;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    flex-direction:row;
	padding: 0;
	margin: 0;
}

.container-hero p {
    margin: 0;
	padding-right: 5px;
	font-family: "Sue Ellen Francisco", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 45px;
	text-shadow: 
          1.2px 1.2px 0 black,  
          -1.2px 1.2px 0 black, 
          1.2px  -1.2px 0 black, 
          -1.2px -1.2px 0 black;
}


form {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}

.nonbold{
  font-size: 16px;
  font-weight: normal;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
textarea,
select {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: all 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(203, 125, 162 0.6);
  outline: none;
}

/*Pais*/
select[name="pais"] {
  border: 2px solid #ccc;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 350px;
}

select[name="city"] {
  border: 2px solid #ccc;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 350px;
}

.pais{
  padding-bottom: 15px;
}

div.hidden {
  display: none;
}

/*Checkbox Oferta*/

.checkbox-option {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}


/*Comentarios Adicionales*/

.Com_Add{
  padding-top: 30px;
}

textarea {
  resize: vertical;
}


/* Boton Archivo */

input[type="file"] {
  margin-bottom: 20px;
}

input[type="file"] {
  display: none;
}

.divfile{
  display: flex;
}

.custom-file-upload {
  margin-right: 20px;
  border-radius: 20px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #cb7da2;
  color: white;
}

.custom-file-upload {
  font-size: 13px;
  text-align: center;
}

.material-symbols-outlined {
  text-align: start;
  vertical-align:middle ;
  padding-right: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*Boton Envio y Reset*/

input[type="submit"] {
  padding-left: 10px;
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"] {
  background-color: #4cae4c;
  color: white;
}

input[type="submit"]:hover {
  background-color: #91c2a2;
}

